@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

#logo{
    margin-left: 50px;
    margin-top: 50px;

}

#titulo-menu-superior{
    margin-left: 125px;
    margin-top: 50px;
}

#texto-menu-superior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px ;
}

#menusuperior{
    background-image: url(imagens/fundo.png);
    color: aliceblue;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px; /*Identificando como se fosse um relogio*/
    padding: 25px;

}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;
    
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
    
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulocarrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#seta-esquerda{
     display: none;  /*sumindo com a seta */
}

#Bruna{
    display: none; 
}

.seta{
    margin-top: 55%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);   /*Se deslocar um pouco para destaque*/
    transition-duration: 0.5s;
}

#formulario{
    text-align: center;


}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    width: 413px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px ;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #549fc2;
    transition-duration: 0.5s;
}